body
{
    margin: 1;
    width: 98%;
    height: 100%;
    font-size: 14px;
    background-color: #999999;
    color: #000000;
    font-family: sans-serif;
    font-weight: normal;
}

#header
{
  background-image: url(logo-grey.jpg);
  border: none ; 
  height: 109px ; 
  width: 100%;
  background-color: white ;
}

#header a
{
  height: 100pt;
  width: 100%;
  border: none ; 
}

#breadcrumb
{
  width: 100%;
  height: 5%;
  padding-left: 0.3em;
}

#main
{
  height: 877px ; 
  width: 100%;
  text-align: center; 
}

#sidebar
{
  height: 100%;
  width: 20%;
  float: left ;
  text-align: left;
}

#menu
{
  text-align: left;
  height: 77%;
  background-color: #C0C0C0;
}  

#loginarea
{
  height: 25% ; 
}

#content
{
    height: 100%;
    width: 79%;
    padding: 1 em;
    border: 0px;
    background-color: #CCCCCC ;
    float: right;
    color: black;
}

/* These following two rulesets should be applied to the CssClass properties of your
   navigation menu.  You should be able to work out which class to
   apply where from the names.  When you apply these rules you will get the appearance
   and colour scheme described in the assessment.  */
   
.dynamicMenuItem, .staticMenuItem
{
    display: block;
    width: 99.99%; /* for IE5 */;
    background-color: #777777;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 0.2em;
}
.dynamicHoverStyle, .staticHoverStyle
{
    text-decoration: none;
    color: #000000;
    background-color: #777777;
}

.loginControl
{ 
  font-size: x-small; 
  width: inherit;
    height: 163px;
}


#footer
{
  height: 33px;
  width: 100%;
  clear: both;
  padding: 0em 0.3em 0em 0.3em;
    margin-bottom: 22px;
    margin-top: 112px;
}

#copyright
{
float: left;
    margin-top: 0px;
}

#lastupdate
{
float: right; 
}

.leftalign
{
  text-align: left ; 
}

p, #menu h2, #menu h3
{
  padding: 5px ; 
}

/* The CSS rules below will style all hyperlinks outside of the menu. 
   The menu links should be styled by the .dynamic rulesets.  Unfortunately
   the rules below are a little clumsy, but I have to explicitly
   exclude the menu div from the rules below otherwise they override the 
   .dynamic classes applied to the menu control, and the hover doesn't 
   quite work properly when styled by virtual classes.  */

#breadcrumb a:link, #loginarea a:link, #footer a:link
{
    color: #000000 ;
}
#breadcrumb a:visited, #loginarea a:visited, #footer a:visited
{
    color: #CC9900 ;
}

#breadcrumb a:hover, #loginarea a:hover, #footer a:hover 
{
  color: yellow;
}



